@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Majorsoft.Blazor.Components.Loading
@using System.Runtime.CompilerServices

@inject IRecipeData Data
@inject RecipeState State


<Tooltip Text="You can search through tags, ingredients, and everything">
<input class="px-2 py-2 mx-2 my-2"
       @bind-value="SearchString"
       @bind-value:event="onchange"
       @oninput="Search"
       placeholder="Search Everything ..."/>
</Tooltip>
<div class="d-flex flex-column">
   


    @if (RecipeList == null)
    {
        <p> Loading ... </p>
    }
    else
    {
        <div class="row">
            @if (RecipeList.Count == 0)
            {
                <p> Nothing found ... </p>
            }
            else
            {
                @foreach (var recipe in RecipeList.Select((rec, index)=> new {rec, index}))
                {
                   
                        <div class="col-lg-4 col-9 col-xl-3 col-md-6">
                            <RecipeCard Recipe="@recipe.rec" ClassGroup=""/>
                        </div>
                    
                }
            }

        </div>
    }
</div>

@code {

    private List<RecipeModel> RecipeList { get; set; } = null;
    private string SearchString { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        RecipeList = await Data.GetRecipeList();
        base.OnInitializedAsync();
    }


    private async Task Search(ChangeEventArgs args)
    {
        if (string.IsNullOrWhiteSpace(args.Value!.ToString()))
        {
            RecipeList = await Data.GetRecipeList();
        }
        else
        {
            var target = args.Value!.ToString()!.ToLower();
           
            RecipeList = 
                RecipeList.Where(recipe =>
                    recipe.Name.ToLower().Contains(target) ||
                    recipe.Ingredient.ToLower().Contains(target) || 

                    recipe.TagList!.Any(tag =>
                    {
                        if (tag == null)
                            return false;
                        return tag.Tag.ToLower().Contains(target);
                    })
                    ).ToList();
           
           
        }
    }

}