@inject IJSRuntime JsRuntime
@inject RecipeState State
@if (Show)
{
    <div class="dialog-container" id="dialog-container" >
        <div class="dialog rounded-2 border">
            @ChildContent
        </div>
    </div>
}

@code {
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public bool Show { get; set; }
   

    protected override async Task OnInitializedAsync()
    {
        JsRuntime.
            InvokeVoidAsync("keypress.init", DotNetObjectReference.Create(this));
    }


    [JSInvokable("CloseModal")]
    public void CloseModal()
    {
        State.RemoveDialog();
        Show = false;
        StateHasChanged();
    }

}